@import "tailwindcss";

body {
  font-family: sans-serif;
  padding: 20px;
}

input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

button {
  margin-right: 10px;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

/* ===== React Modal FIX ===== */
.ReactModal__Overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(59, 130, 246, 0.25); /* blue-500 */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.ReactModal__Content {
  position: relative;
  inset: auto !important;
}
